<div>
  <h1>Редактировать залы</h1>
  <p>
    <a class="btn btn-primary" routerLink="new">
      <i class="glyphicon glyphicon-plus"></i> Добавить зал
    </a>
  </p>
  <div >
    <table class="table">
      <thead>
      <th>Зал</th>
      <th style="width:200px;">Редактировать/Удалить</th>
      </thead>
      <tbody>
      <tr *ngFor="let gym of gyms">
        <td>{{gym.gym_name}}</td>
        <td>
          <a class="btn btn-primary btn-xs" [routerLink]="[gym.id]">
            <i class="glyphicon glyphicon-pencil">Редактировать</i>
          </a>
          <a class="btn btn-danger btn-xs" (click)="deleteGym(gym)">
            <i class="glyphicon glyphicon-trash">Удалить</i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>