<div class="back">
    <a href="#/">
        <span>Вернуться</span>
        <i class="glyphicon glyphicon-share-alt"></i>
    </a>
</div>
<div class="wrapper">
    <div class="trainer-name">{{trainer.trainer_name}}</div>
    <div class="trainer-img"><img src="./uploads/{{trainer.trainer_img}}" class="img-responsive img-rounded" alt="{{trainer.trainer_name}}"></div>
    <div class="trainer-tagline">{{trainer.trainer_tagline}}</div>
    <div class="trainer-achievement">
        <h4>Достижения</h4>
        <p>{{trainer.trainer_achievements}}</p>
    </div>
</div>

