<h1>Расписание</h1>
<nav>
    <a routerLink="gyms" routerLinkActive="active">Залы</a>
    <a routerLink="trainers" routerLinkActive="active">Тренеры</a>
    <a routerLink="exercises" routerLinkActive="active">Упражнения</a>
    <a routerLink="levels" routerLinkActive="active">Уровни</a>
    <a routerLink="comments" routerLinkActive="active">Комментарии</a>
    <a routerLink="banners" routerLinkActive="active">Баннеры</a>
    <a routerLink="timetables" routerLinkActive="active">Расписание</a>
</nav>